@use '../common/var.scss' as *;

@mixin reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-text-color-primary);
  font-size: var(--ant-font-color-primary);
  font-variant: $font-variant-base;
  // ? is this a magic number?
  line-height: $line-height-base;
  list-style: none;
  font-feature-settings: $font-feature-settings;
}
